.loginContainer {
  font-family: "Titan One", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../assets/BG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 100px;
  padding-bottom: 50px;
  overflow-y: auto;
  }

  .loginContainer h1{
    font-size: 3rem;
    color: var(--light);
    text-shadow: 1px 1px 1px var(--brown-dark);
  }

  .login-image-container {
    margin: 20px;
  }
  
  .login-main-image {
    max-width: 500px;
  }
  
  .login-form-container {
    margin-top: 50px;
    text-align: center;
  }
  
  .login-form-group {
    margin-bottom: 20px;
  }
  
  .login-form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.5rem;
    color: var(--green-dark);
    text-shadow: 1px 1px 1px var(--light);
  }
  
  .login-form-group input {
    padding: 10px;
    width: 100%;
    border: 3px solid var(--green-dark);
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .login-form-container button {
    width: 100%;
    padding: 2px 5px;
    background-color: var(--brown-light);
    font-size: 2rem;
    color: var(--light);
    text-shadow: 1px 1px 1px var(--brown-dark);
    border: 3px solid var(--green-dark);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    transition: background-color 0.1s ease; /* Add smooth transition */
  }
  
  .login-form-container button:hover {
    background-color: var(--brown-dark);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  }
  